<app-banner-principal></app-banner-principal>

<div class="container py-4 text-white">
  <!-- Populares -->
  @if (midiasPopulares$ | async; as midiasPopulares) {
    <div class="d-flex align-items-center gap-3 mb-4 my-2">
      <h2 class="fs-4 mb-0">Populares</h2>

      <div class="btn-group rounded-pill overflow-hidden" role="group">
        <input
          (change)="midiasPopularesSubject$.next(tipoMidia.Filme)"
          type="radio"
          class="btn-check"
          name="tipoMidiasPopulares"
          id="radioMidiasPopularesFilmes"
          autocomplete="true"
          checked
        />
        <label class="btn btn-sm btn-outline-primary border-0" for="radioMidiasPopularesFilmes">
          Filmes
        </label>

        <input
          (change)="midiasPopularesSubject$.next(tipoMidia.Tv)"
          type="radio"
          class="btn-check"
          name="tipoMidiasPopulares"
          id="radioMidiasPopularesTv"
          autocomplete="false"
        />
        <label class="btn btn-sm btn-outline-primary border-0" for="radioMidiasPopularesTv">
          Séries
        </label>
      </div>
    </div>
    <app-carrossel-midias
      [tipoMidia]="midiasPopulares.media_type"
      [midias]="midiasPopulares.results"
    ></app-carrossel-midias>
  }

  <!-- Mais Votadas -->
  @if (midiasMaisVotadas$ | async; as midiasMaisVotadas) {
    <div class="d-flex align-items-center gap-3 mb-4 my-2">
      <h2 class="fs-4 mb-0">Mais Votados</h2>

      <div class="btn-group rounded-pill overflow-hidden" role="group">
        <input
          (change)="midiasMaisVotadasSubject$.next(tipoMidia.Filme)"
          type="radio"
          class="btn-check"
          name="tipoMidiasMaisVotadas"
          id="radioMidiasMaisVotadasFilmes"
          autocomplete="true"
          checked
        />
        <label class="btn btn-sm btn-outline-primary border-0" for="radioMidiasMaisVotadasFilmes">
          Filmes
        </label>

        <input
          (change)="midiasMaisVotadasSubject$.next(tipoMidia.Tv)"
          type="radio"
          class="btn-check"
          name="tipoMidiasMaisVotadas"
          id="radioMidiasMaisVotadasTv"
          autocomplete="false"
        />
        <label class="btn btn-sm btn-outline-primary border-0" for="radioMidiasMaisVotadasTv">
          Séries
        </label>
      </div>
    </div>
    <app-carrossel-midias
      [tipoMidia]="midiasMaisVotadas.media_type"
      [midias]="midiasMaisVotadas.results"
    ></app-carrossel-midias>
  }

  <!-- Em Cartaz -->
  @if (filmesEmCartaz$ | async; as filmesEmCartaz) {
    <h2 class="fs-4 mb-4 mt-3">Filmes Em Cartaz</h2>

    <app-carrossel-midias
      [tipoMidia]="tipoMidia.Filme"
      [midias]="filmesEmCartaz.results"
    ></app-carrossel-midias>
  }
</div>
