<app-navbar></app-navbar>

<app-banner-principal></app-banner-principal>

<div class="container py-4 text-white">
    <div class="d-flex align-items-center gap-3 mb-4 my-2">
        <h2 class="fs-4 mb-0">Populares</h2>

        <div class="btn-group rounded-pill overflow-hidden" role="group">
            <input 
                (change)="midiasPopularesSubject$.next(tipoMidia.Filme)"
                type="radio"
                class="btn-check"
                name="tipoMidiasPopulares"
                id="radioMidiasPopularesFilmes"
                autocomplete="true"
                checked
            />
            <label 
                class="btn btn-sm btn-outline-primary border-0" 
                for="radioMidiasPopularesFilmes">
                Filmes
            </label>

            <input 
                (change)="midiasPopularesSubject$.next(tipoMidia.Tv)"
                type="radio"
                class="btn-check" 
                name="tipoMidiasPopulares" 
                id="radioMidiasPopularesTv" 
                autocomplete="false"          
            />
            <label 
                class="btn btn-sm btn-outline-primary border-0" 
                for="radioMidiasPopularesTv">
                Séries
            </label>
        </div>
    </div>


    <div class="row flex-nowrap overflow-x-scroll g-3 app-scrollbar-customizado">
        @for (midia of (midiasPopulares$ | async)?.results; track midia.id) {
            <div class="col-4 col-md-2">
                <div class="card rounded-3 app-card-filme">
                    <img 
                        clas="card-img-top rounded-3"
                        style="min-height: 250px;"
                        [src]="midia.poster_path" 
                        [alt]="midia.title ?? midia.name"
                    />
                </div>

                <div class="mt-2">
                    <small class="fst-italic">
                        {{ midia.release_date ?? midia.first_air_date }}
                    </small>
                    
                    <p class="app-titulo-card fw-bold">
                        {{ (midia.title ?? midia.name)?.slice(0, 40) }}
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="d-flex align-items-center gap-3 mb-4 my-4">
        <h2 class="fs-4 mb-0">Mais Votados</h2>

        <div class="btn-group rounded-pill overflow-hidden" role="group">
            <input 
                (change)="midiasMaisVotadasSubject$.next(tipoMidia.Filme)"
                type="radio"
                class="btn-check"
                name="tipoMidiasMaisVotadas"
                id="radioMidiasMaisVotadasFilmes"
                autocomplete="true"
                checked
            />
            <label 
                class="btn btn-sm btn-outline-primary border-0" 
                for="radioMidiasMaisVotadasFilmes">
                Filmes
            </label>

            <input 
                (change)="midiasMaisVotadasSubject$.next(tipoMidia.Tv)"
                type="radio"
                class="btn-check" 
                name="tipoMidiasMaisVotadas" 
                id="radioMidiasMaisVotadasTv" 
                autocomplete="false"          
            />
            <label 
                class="btn btn-sm btn-outline-primary border-0" 
                for="radioMidiasMaisVotadasTv">
                Séries
            </label>
        </div>
    </div>
    <div class="row flex-nowrap overflow-x-scroll g-3 app-scrollbar-customizado ">
        @for (midia of (midiasMaisVotadas$ | async)?.results; track midia.id) {
            <div class="col-4 col-md-2">
                <div class="card rounded-3 app-card-filme">
                    <img 
                        clas="card-img-top rounded-3"
                        style="min-height: 250px;"
                        [src]="midia.poster_path" 
                        [alt]="midia.title ?? midia.name"
                    />
                </div>

                <div class="mt-2">
                    <small class="fst-italic">
                        {{ midia.release_date ?? midia.first_air_date }}
                    </small>
                    
                    <p class="app-titulo-card fw-bold">
                        {{ (midia.title ?? midia.name)?.slice(0, 40) }}
                    </p>
                </div>
            </div>
        }
    </div>

    <h2 class="fs-4 mb-4 mt-3">Filmes Em Cartaz</h2>
    <div class="row flex-nowrap overflow-x-scroll g-3 app-scrollbar-customizado ">
        @for (midia of (filmesEmCartaz$ | async)?.results; track midia.id) {
            <div class="col-4 col-md-2">
                <div class="card rounded-3 app-card-filme">
                    <img 
                        clas="card-img-top rounded-3"
                        style="min-height: 250px;"
                        [src]="midia.poster_path" 
                        [alt]="midia.title ?? midia.name"
                    />
                </div>

                <div class="mt-2">
                    <small class="fst-italic">
                        {{ midia.release_date ?? midia.first_air_date }}
                    </small>
                    
                    <p class="app-titulo-card fw-bold">
                        {{ (midia.title ?? midia.name)?.slice(0, 40) }}
                    </p>
                </div>
            </div>
        }
    </div>
</div>