@use "bootstrap";
@use "bootstrap-icons";

$mf-bg: #0c0e13;
$mf-bg-elev: #12151c;
$mf-text: #ffffff;

$cor1: #3f171a;
$cor2: #3d1616;
$cor3: #5c1d1d;

//Bootstrap


//Navbar
.text-mf {
    color: #c51c1c;
}

//Listagem
.app-banner-principal {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(to right, rgba(39, 15, 17, .85) 0%, rgba(44, 21, 21, .30) 100%), 
        url('/deadpool-banner-busca.webp');
}

.app-container-principal {
    min-height: 400px;
    padding-top: 4rem;
}

.body {
    background: $mf-bg;
    color: $mf-text;    
}

.app-background-gradiente {
    background-image: linear-gradient(
        to right,
        $cor1,
        $cor2,
        $cor3,
        $cor2,
        $cor1
    );
    background-size: 200% 100%;
    background-repeat: repeat-x;
    animation: moverGradiente 25s linear infinite;
    background-position: center center;
    background-attachment: fixed; 
}

@keyframes moverGradiente {
    from { background-position:   0% 0; }
    to   { background-position: 200% 0; }
}